*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/HttpUtils/build
/RxHttpUtils/build
/FlowHttpUtils/build
/captures
.externalNativeBuild
.cxx
local.properties
